<!-- 這支局部樣板內所撰寫的內容，之後就會出現在 layouts 裡 main.handlebars 檔案的 {{{ body }}} -->
<!-- ./views/index.handlebars -->
<button class="btn btn-lg btn-primary create-btn">
  <a href="/restaurants/new">新增餐廳</a>
</button>
<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類或地點"
            aria-label="Restaurant Name..." value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        <!-- 使用app.js中的{ menu: menuList.results } -->
        {{#each restaurant}}
        <a href="/restaurants/{{this.id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src={{this.image}} alt={{this.name}}>
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
            </div>
            <div class="d-flex justify-content-end align-items-center m-2" id="links">
              <a href="/restaurants/{{{this.id}}}/edit" class="m-1">編輯</a>
              <a href="/restaurants/{{{this.id}}}" class="m-1">詳細資訊</a>
              <form action="/restaurants/{{{this.id}}}/delete" method="POST" class="m-1" style="display: inline;">
                <button onclick="return confirmDelete()" class="btn btn-danger">刪除</button>
              </form>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col text-center">
    <a href="http://localhost:3000/" class="btn btn-lg btn-primary mb-4" id="go-to-index">回首頁</a>
  </div>
</div>